<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd
print("Bilal")

Bilal

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
duplicates = df[df.duplicated()]
duplicated_rows = df.duplicated().sum()
print("There are :", duplicated_rows,"duplicated rows")

There are : 154 duplicated rows

In [16]:
duplicated_rows_Respondent = df['Respondent'].duplicated().sum()
print("There are :", duplicated_rows_Respondent,"duplicated rows")

There are : 154 duplicated rows

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [ ]:
# your code goes here
df_unique = df.drop_duplicates()
df_unique

In [20]:
# number of unique rows of respond column
unique_rows = df_unique['Respondent'].nunique()
unique_rows

11398

In [22]:
# Blank rows under the column EdLevel
blank_rows_edlevel = df_unique['EdLevel'].isna().sum()
blank_rows_edlevel

112

In [23]:
# Blank rows under the column Country
blank_rows_country = df_unique['Country'].isna().sum()
blank_rows_country

0

Verify if duplicates were actually dropped.

In [5]:
# your code goes here
df_unique.duplicated().sum()

0

## Finding Missing values

Find the missing values for all columns.

In [6]:
# your code goes here
missing_values = df_unique.isna()
missing_values

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11548,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11549,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11550,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
11551,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Missing values in each column

In [7]:
missing_values_count = df_unique.isna().sum()
missing_values_count

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Total Missing Values

In [8]:
total_missing_values = df_unique.isna().sum().sum()
total_missing_values

30967

Find out how many rows are missing in the column 'WorkLoc'

In [9]:
# your code goes here
WorkLock_Missing_Value = df_unique['WorkLoc'].isna().sum()
WorkLock_Missing_Value

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [10]:
# your code goes here
workloc_counts = df_unique['WorkLoc'].value_counts()
workloc_counts

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [11]:
#make a note of the majority value here, for future reference
#
most_frequent_value = workloc_counts.idxmax()
most_frequent_value

'Office'

In [26]:
#Majority Category under the column Employment
employment_counts = df_unique['Employment'].value_counts()
most_frequent_value_Employment = employment_counts.idxmax()
most_frequent_value_Employment

'Employed full-time'

In [28]:
df_unique['ConvertedComp']

0         61000.0
1         95179.0
2         90000.0
3        455352.0
4         65277.0
           ...
11547    130000.0
11548     19880.0
11549    105000.0
11550     80371.0
11551         NaN
Name: ConvertedComp, Length: 11398, dtype: float64

In [27]:
#Minority Category under the column UndergradedMajor
UndergradMajor_counts = df_unique['UndergradMajor'].value_counts()
most_frequent_value_UndergradMajor = UndergradMajor_counts.idxmin()
most_frequent_value_UndergradMajor

'A health science (ex. nursing, pharmacy, radiology)'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [12]:
# your code goes here
df_unique['WorkLoc'] = df_unique['WorkLoc'].fillna(most_frequent_value)
df_unique['WorkLoc']

C:\Users\Bilal\AppData\Local\Temp\ipykernel_47896\733969570.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unique['WorkLoc'] = df_unique['WorkLoc'].fillna(most_frequent_value)

0                                                  Home
1                                                Office
2                                                  Home
3                                                  Home
4        Other place, such as a coworking space or cafe
                              ...
11547                                              Home
11548                                              Home
11549                                            Office
11550                                              Home
11551                                            Office
Name: WorkLoc, Length: 11398, dtype: object

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [13]:
# your code goes here
WorkLock_Missing_Value = df_unique['WorkLoc'].isna().sum()
WorkLock_Missing_Value

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [14]:
# your code goes here
df_unique['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

In [29]:
# number of unique values  in the CompFreq column  
df_unique['CompFreq'].nunique()

3

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [38]:
# your code goes here
def calculate_normalized_comp(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52

# Apply the function to each row
# df_unique['NormalizedAnnualCompensation'] = df_unique.apply(calculate_normalized_comp, axis=1)
df_unique.loc[:, 'WorkLoc'] = df_unique['WorkLoc'].fillna(most_frequent_value)
df_unique.loc[:, 'NormalizedAnnualCompensation'] = df_unique.apply(calculate_normalized_comp, axis=1)

df_unique['NormalizedAnnualCompensation']

0         61000.0
1        138000.0
2         90000.0
3        348000.0
4         90000.0
           ...
11547    130000.0
11548     74400.0
11549    105000.0
11550     80000.0
11551         NaN
Name: NormalizedAnnualCompensation, Length: 11398, dtype: float64

In [41]:
# the median of NormalizedAnnualCompensation
median_NormalizedAnnualCompensation = df_unique['NormalizedAnnualCompensation'].median()
median_NormalizedAnnualCompensation

100000.0

In [57]:
# number of repondent paied yearly 
yearly_paid_respondents_count = df_unique[df_unique['CompFreq'] == 'Yearly'].shape[0]
yearly_paid_respondents_count

6073

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).